.review-card {
  /*  height: 350px;*/
  padding: 10px!important;
  margin-bottom: 15px;
}

.header {
  height: 75px;
  width: 100%;
  margin-bottom: 10px;
  /*border: 1px solid #000000;*/
}


.sp p {
  margin-bottom: 8px;
}

.content {
  width: 100%;
  font-size: 0.8em;
}

.d p{
  margin-bottom: 10px;
  font-size: 0.8em;
}

.avatar {
  height: 100%;
  width: auto;
}

.subtext {
  font-size: 0.65em;
}

.subtext-gray {
  font-size: 0.65em;
  color: gray;
}
