<div class="list">
<h4>Reading</h4>
<app-book-list-item [addeds]="reading" [listOwner]="listOwner"></app-book-list-item>
</div>

<div class="list">
<h4>Completed</h4>
<app-book-list-item [addeds]="completed" [listOwner]="listOwner"></app-book-list-item>
</div>

<div class="list">
<h4>On-Hold</h4>
<app-book-list-item [addeds]="hold" [listOwner]="listOwner"></app-book-list-item>
</div>

<div class="list">
<h4>Dropped</h4>
<app-book-list-item [addeds]="dropped" [listOwner]="listOwner"></app-book-list-item>
</div>

<div class="list">
<h4>Plan to Read</h4>
<app-book-list-item [addeds]="plan" [listOwner]="listOwner"></app-book-list-item>
</div>
