<h4 style="padding-bottom: 5px">{{book?.name}}</h4>
<div class="row">

  <div class="col-lg-3 d col">
    <div style="width: 80%">

      <div class="information-row">
        <img src={{book?.cover}} class="cover"/>
        <div class="button-col">

          <div *ngIf="isInUserList">
            <div class="book-added">
              <p><b>Status:</b> {{added?.status}}</p>
              <p><b>Progress:</b> {{added?.progress}}/{{book?.pages}}</p>
              <p><b>Score:</b> {{added?.score}} </p>
              <button mat-stroked-button color="primary" class="full-width">Edit Details</button>
            </div>
          </div>

          <button mat-raised-button *ngIf="!isInUserList" color="primary" (click)="addToList()">
            Add to my list
          </button>
          <button mat-raised-button *ngIf="!isFavourite" color="warn" (click)="addToFavourites()">Add to favourites
          </button>
          <button mat-stroked-button *ngIf="isFavourite" color="warn" (click)="removeFromFavourites()">Remove from
            favourites
          </button>

        </div>

      </div>

      <div class="information-row">
        <h3>Book Information</h3>
        <p>Form: {{book?.form}}</p>
        <p>Total Pages: {{book?.pages}}</p>
        <p>Publication Year: {{book?.year}}</p>
        <p>Genres: <span *ngFor="let genre of book?.genres; let isLast=last"><span class="cursor-text"
                                                                                   (click)="goToGenre(genre.id)">{{genre.genre}}{{isLast ? '' : ', '}}</span></span>
        </p>
      </div>

      <div class="information-row">
        <h3>Statistics</h3>
        <p>Score: {{book?.score}}</p>
        <p>Favourites: {{book?.popularity}}</p>
        <p>Total Members: {{book?.members}}</p>
      </div>

    </div>

  </div>


  <div class="col-lg-9 d col">

    <mat-tab-group>
      <mat-tab label="Details">

        <div class="col-md-12 row details">

          <div class="col-md-3 bh"><h4>Authors</h4></div>
          <div class="col-md-9 bh"  >
            <h4>Series: {{book?.serie.name}}</h4>
            <div dragScroll [drag-scroll-y-disabled]="true" style="height: 100%">
            <div class="series">
              <span *ngFor="let b of book?.serie.books">
                <app-book-small-item [book]="b" class="book-small" *ngIf="book?.id != b.id"></app-book-small-item>
              </span>
            </div>
            </div>
          </div>

        </div>


      </mat-tab>
      <mat-tab label="Reviews">
        <div align="center">
          <div *ngFor="let review of book?.reviews | paginate: { itemsPerPage: 4, currentPage: p }">
            <app-review-item [review]="review"></app-review-item>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </mat-tab>
      <mat-tab label="Stats"> Content 3</mat-tab>
      <mat-tab label="Recommendations"> Content 4</mat-tab>
    </mat-tab-group>


  </div>
</div>
