.book-added {
  margin-bottom: 10px;
}

.buttons {
  margin-bottom: 6px;
}

.information-row {
  margin-bottom: 20px;
}

#right {
  margin-left: 3px;
}

#left {
  margin-right: 3px;
}

p {
  margin: 5px!important;
}

.author-series {
  height: 200px;
}

.details {
  margin-bottom: 50px;
  margin-top: 20px;
  overflow-y: hidden;
}

.book-small {
  height: 40px;
}

.inline {
  display: inline;
}

.button-review {
  margin-bottom: 10px;
  width: 100%;
}

.author-photo {
  height: 80%;
  width: auto;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.author-photo:hover {
  opacity: .8;
}

.book-plot {
  margin-bottom: 50px;
}

.b {
  border: 1px #000 solid;
}
