.d {
  border: 1px solid #000000;
}

.cover {
  max-width: 100%;
  margin-bottom: 5px;
}

.book-added {
  margin-bottom: 5px;
}

.information-row {
  margin-bottom: 20px;
}

p {
  margin: 5px!important;
}

.author-series {
  height: 200px;
}

.details {
  margin-bottom: 50px;
  margin-top: 20px;
  overflow-y: hidden;
}

.book-small {
  height: 40px;
}

.inline {
  display: inline;
}

.author-photo {
  height: 80%;
  width: auto;
  border-radius: 5px;
  margin-right: 5px;
}

.author-photo:hover {
  cursor: pointer;
  opacity: .8;
}

.book-plot {
  margin-bottom: 50px;
}
