<h4 class="header-text">{{book?.name}}</h4>
<div class="row">

  <div class="col-lg-3 col">
    <div style="width: 80%">

      <div class="information-row">
        <img src={{book?.cover}} class="cover"/>


        <div *ngIf="isInUserList">
          <div class="book-added">
            <p><b>Status:</b> {{added?.status}}</p>
            <p><b>Progress:</b> {{added?.progress}}/{{book?.pages}}</p>
            <p><b>Your Score:</b>
              <span *ngIf="added?.score != 0"> {{added?.score}}</span>
              <span *ngIf="added?.score == 0"> - </span>
            </p>

          </div>
        </div>

        <div fxLayout="row" class="buttons">
          <button mat-stroked-button *ngIf="isInUserList" color="primary" class="full-width" id="left"
                  (click)="editAdded()">Edit Details
          </button>
          <button mat-stroked-button *ngIf="isInUserList" color="warn" class="full-width right" id="right"
                  (click)="removeAdded()">Remove
          </button>
        </div>

        <div class="button-col">
          <button mat-raised-button *ngIf="!isInUserList" color="primary" (click)="addToList()">
            Add to my list
          </button>
          <button mat-raised-button *ngIf="!isFavourite" color="warn" (click)="addToFavourites()">Add to favourites
          </button>
          <button mat-stroked-button *ngIf="isFavourite" color="warn" (click)="removeFromFavourites()">Remove from
            favourites
          </button>
        </div>


      </div>

      <div class="information-row">
        <h3>Book Information</h3>
        <p>Form: {{book?.form}}</p>
        <p>Total Pages: {{book?.pages}}</p>
        <p>Publication Year: {{book?.year}}</p>
        <p>Genres: <span *ngFor="let genre of book?.genres; let isLast=last"><span class="cursor-text"
                                                                                   (click)="goToGenre(genre.id)">{{genre.genre}}{{isLast ? '' : ', '}}</span></span>
        </p>
      </div>

      <div class="information-row">
        <h3>Statistics</h3>
        <p>Score: {{book?.score | number:'1.1-2'}}</p>
        <p>Favourites: {{book?.popularity}}</p>
        <p>Total Members: {{book?.members}}</p>
      </div>

    </div>

  </div>


  <div class="col-lg-9 col">

    <mat-tab-group>
      <mat-tab label="Details">

        <div class="col-md-12 ">

          <div class="row details">
            <div class="col-md-4 author-series">
              <h4>Authors</h4>
              <div dragScroll [drag-scroll-y-disabled]="true" style="height: 100%">
                <div class="inline">
              <span *ngFor="let author of book?.authors">
                <img src={{author.photo}} class="author-photo" title={{author.name}} (click)="goToAuthor(author.id)"/>
              </span>
                </div>
              </div>
            </div>

            <div class="col-md-8 author-series" *ngIf="book?.serie != undefined">
              <h4>Book Series: {{book?.serie.name}}</h4>
              <div dragScroll [drag-scroll-y-disabled]="true" style="height: 100%">
                <div class="inline">
              <span *ngFor="let b of book?.serie.books">
                <img src={{b.cover}}  *ngIf="b.id !== id" class="author-photo" title={{b.name}} (click)="goToBook(b.id)" />
              </span>
                </div>
              </div>
            </div>
          </div>


          <div class="book-plot">
            <h3>Plot</h3>
            <p style="margin: 0!important;">{{book?.plot}}</p>
          </div>

          <div class="book-reviews">
            <h3>Reviews</h3>
            <button class="button-review" *ngIf="!userHasReview && logged" mat-raised-button (click)="writeReview = !writeReview">Write Review</button>
            <div class="fullw-margin" *ngIf="writeReview && logged && !userHasReview">
              <p-editor [(ngModel)]="text" [ngModelOptions]="{standalone: true}" [style]="{'height':'320px'}">
                <p-header>
                  <span class="ql-formats">
                    <button class="ql-bold" aria-label="Bold"></button>
                    <button class="ql-italic" aria-label="Italic"></button>
                    <button class="ql-underline" aria-label="Underline"></button>
                  </span>
                  <span class="float-right cursor-text" (click)="postReview()">Post Review</span>
                </p-header>
              </p-editor>
            </div>

            <div *ngFor="let review of book?.reviews; let i = index" style="margin-bottom: 20px">
              <app-review-item [review]="review" *ngIf="i < 4"></app-review-item>
            </div>

          </div>


        </div>


      </mat-tab>
      <mat-tab label="Reviews">
        <div>
          <div align="center">
            <div *ngFor="let review of book?.reviews | paginate: { itemsPerPage: 4, currentPage: p }">
              <app-review-item [review]="review"></app-review-item>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Stats"> Content 3</mat-tab>
      <mat-tab label="Recommendations"> Content 4</mat-tab>
    </mat-tab-group>


  </div>
</div>
<br>
<div id="disqus_thread"></div>
