<h4 style="padding-bottom: 5px">{{book?.name}}</h4>
<div class="row">

  <div class="col-lg-2 d col">

    <img src={{book?.cover}} class="cover"/>
    <div class="button-col">

      <div *ngIf="isInUserList">
        <div class="book-added">
          <p><b>Status:</b> {{added?.status}}</p>
          <p><b>Progress:</b> {{added?.progress}}/{{book?.pages}}</p>
          <p><b>Score:</b> {{added?.score}}</p>
          <button mat-stroked-button color="primary" class="full-width">Edit Details</button>
        </div>
      </div>

      <button mat-stroked-button *ngIf="!isInUserList" color="primary" (click)="addToList()">
        Add to my list
      </button>
      <button mat-stroked-button *ngIf="!isFavourite" color="warn" (click)="addToFavourites()">Add to favourites</button>
      <button mat-stroked-button *ngIf="isFavourite" color="warn" (click)="removeFromFavourites()">Remove</button>

    </div>

  </div>


  <div class="col-lg-10 d col">

    <mat-tab-group>
      <mat-tab label="Details"> Content 1</mat-tab>
      <mat-tab label="Reviews"> Content 2</mat-tab>
      <mat-tab label="Stats"> Content 3</mat-tab>
      <mat-tab label="Recommendations"> Content 4</mat-tab>
    </mat-tab-group>


  </div>
</div>
