<mat-card class="book-card">
  <div align="center" class="cursor header">
    {{book.name}}
  </div>

  <div class="book-content">
    <div align="center" class="row">
      <div class="col cursor" *ngIf="book?.serie != undefined">
        {{book?.serie.name}}
      </div>
      <div class="col">
        {{book.pages}} Pages
      </div>
      <div class="col">
        <i class="fa fa-fw fa-star" aria-hidden="true"></i>{{book.score}}
      </div>
    </div>

    <div class="row book-genres">
      <div *ngFor="let genre of book.genres" style="margin:0 auto;">
        <div class="col cursor" (click)="goToGenre(genre.id)">
          {{genre.genre}}
        </div>
      </div>
    </div>


    <div fxLayout="row">
      <img src={{book.cover}} class="book-cover" (click)="goToBook(book.id)" />
      <p class="book-plot">{{book.plot}}</p>
    </div>
  </div>

</mat-card>
