<h4 class="header-text">{{author?.name}}</h4>
<div class="row">
  <div class="col-lg-2">
    <img src={{author?.photo}} class="fullw-margin"/>
    <button *ngIf="!isFavourite" mat-raised-button class="fullw-margin" color="warn" (click)="addFavourite()">Add to Favourites</button>
    <button *ngIf="isFavourite" mat-stroked-button class="fullw-margin" color="warn" (click)="removeFavourite()">Remove from Favourites</button>
    <br>
    <p><b>Birthday: </b>{{author?.born | date:'longDate'}}</p>
    <p><b>Favourties: </b>{{author?.popularity}}</p>
    <b style="margin-left: 5px">Biography: </b>
    <p class="biography">{{author?.biography}}</p>
  </div>
  <div class="col-lg-9">
    <h5>{{author?.name}}'s books</h5>
    <table class="table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col" class="header-button" (click)="sort('name')">Name</th>
        <th scope="col" class="header-button" (click)="sort('pages')">Pages</th>
        <th scope="col" class="header-button" (click)="sort('date')">Publication Year</th>
        <th scope="col" class="header-button" (click)="sort('rating')">Score </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of author?.books; let i = index">
        <th>{{i + 1}}</th>
        <td><img src={{book.cover}} class="cover" (click)="goToBook(book.id)" /></td>
        <td class="header-button" style="width: 50%" (click)="goToBook(book.id)">{{book.name}}</td>
        <td>{{book.pages}}</td>
        <td>{{book.year}}</td>
        <td>{{book.score | number:'1.1-2'}} <i class="fa fa-star-o" aria-hidden="true"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
