/* You can add global styles to this file, and also import other style files */
@import "~flag-icon-css/css/flag-icon.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Poiret One";
  src: url('assets/fonts/Poiret_One/PoiretOne-Regular.eot');
  src: url('assets/fonts/Poiret_One/PoiretOne-Regular.woff') format('woff'),
      url('assets/fonts/Poiret_One/PoiretOne-Regular.ttf')  format('truetype'),
      url('assets/fonts/Poiret_One/PoiretOne-Regular.svg') format('svg');
}


.button-row button{
  margin-left: 5px;
}

.cursor:hover {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.break {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.button-col button {
  width: 100%;
  margin-bottom: 5px;
}

.border {
  border: 1px solid #000000;
}

.cursor-text {
  color: #3F51B5;
}

.cursor-text:hover {
  cursor: pointer;
  color: #32a7d1;
}
