.cover:hover {
  opacity: .8;
  cursor: pointer;
}

.cover {
  height: 100px;
  margin-right: 5px;
  border-radius: 5px;
}

p {
  font-size: .8em;
  margin-bottom: 5px!important;
}

.subtext {
  font-size: .65em;
}
